.restaurantPage {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title {
    padding-left: 30px;
}

.tabWrapper {
    margin-bottom: 30px;
}

.restaurantWrapper {
    display: flex;
    flex: 1;
    width: 100%;
    border: 1px solid;
    padding: 30px;
    margin-bottom: 30px;
}

.tab {
    display: flex;
    flex: 1;
    border: 1px solid;
    padding: 16px 30px;
    justify-content: center;
    white-space: nowrap;
    border-radius: 5px;
}