.listItem {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.listItemInner {
    display: flex;
    flex-direction: column;
}

.editIcon {
    width: 18px;
    height: 18px;
    margin-left: 12px;
    cursor: pointer;
}

.modal {
    width: 100%;
    height: 100%;
}