.button {
    cursor: pointer;
}

.buttonThemeDefault {
    background: var(--default-theme);
}

.buttonThemeDefault:hover,
.buttonThemeDefault.active {
    background: var(--default-theme-hover);
}

.buttonThemeGreen {
    background: var(--green-theme);
}

.buttonThemeGreen:hover,
.buttonThemeGreen.active {
    background: var(--green-theme-hover);
}

.buttonThemeBlue {
    background: var(--blue-theme);
}

.buttonThemeBlue:hover,
.buttonThemeBlue.active {
    background: var(--blue-theme-hover);
}