.tabs {
    display: flex;
    align-items: center;
    overflow: auto;
    justify-content: stretch;
    gap: 16px;
}

.tab {
    display: flex;
    flex: 1;
    border: 1px solid;
    padding: 16px 30px;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
}