.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    padding: 16px 16px 30px;
    border: 1px solid gray;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.headerTitle {
    margin: 16px 0;
}

.formField {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.formFieldCounter {
    display: flex;
    align-items: center;
    gap: 12px;
}

.button {
    cursor: pointer;
    margin-top: 24px;
}