.contentWrapper {
    position: fixed;
    top: 20vh;
    left: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    padding: 10px 30px 30px;
    background: #fff;
    border: 1px solid var(--border-color)
}

.modalHeader {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.closeButton {
    position: absolute;
    top: 26px;
    top: 20px;
    right: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 20px;
    height: 20px;

}