.header {
    display: flex;
    justify-content: space-between;
}

.themeSelector {
    display: flex;
    align-items: center;
    gap: 16px;
}

.leftPart,
.rightPart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.home {
    cursor: pointer;
}

.cartIcon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.cartModal {
    min-height: 200px;
    padding-top: 0;
}

.user {
    display: flex;
    align-items: center;
    gap: 16px;
}